.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 100;
  transition: 0.3s;
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
  transform: scale(1.1);
}

.whatsapp-float i {
  margin-top: 16px;
}
